GUI/icons/spinxml_common.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2013 Designer Edition (Trial) 11.0.1.4456 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="matrix">
        <xs:attribute name="xx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="xy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="xz"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yz"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zz"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="reference_frame"
                      type="xs:integer"
                      use="required" />
    </xs:complexType>
    <xs:group name="vector">
        <xs:sequence>
            <xs:element name="x"
                        type="xs:double" />
            <xs:element name="y"
                        type="xs:double" />
            <xs:element name="z"
                        type="xs:double" />
            <xs:element name="ve_reference_frame_ID"
                        type="xs:integer" />
        </xs:sequence>
    </xs:group>
    <xs:group name="euler_angles">
        <xs:sequence>
            <xs:element name="alpha"
                        type="xs:double" />
            <xs:element name="beta"
                        type="xs:double" />
            <xs:element name="gamma"
                        type="xs:double" />
            <xs:element name="eu_reference_frame_ID"
                        type="xs:integer" />
        </xs:sequence>
    </xs:group>
    <xs:group name="angle_axis">
        <xs:sequence>
            <xs:element name="angle"
                        type="xs:double"
                        minOccurs="1"
                        maxOccurs="1" />
            <xs:element name="axis"
                        minOccurs="1"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:group ref="vector" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="quartenion">
        <xs:sequence>
            <xs:element name="re"
                        type="xs:double" />
            <xs:element name="i"
                        type="xs:double" />
            <xs:element name="j"
                        type="xs:double" />
            <xs:element name="k"
                        type="xs:double" />
            <xs:element name="quar_reference_frame_ID"
                        type="xs:integer" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="orientation">
        <xs:choice minOccurs="1"
                   maxOccurs="1">
            <xs:group ref="euler_angles" />
            <xs:group ref="angle_axis" />
            <xs:group ref="quartenion" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="interaction">
        <xs:choice minOccurs="1"
                   maxOccurs="1">
            <xs:element name="scalar"
                        type="xs:double" />
            <xs:element name="tensor"
                        type="matrix" />
            <xs:sequence>
                <xs:choice minOccurs="1"
                           maxOccurs="1">
                    <xs:element name="eigenvalues">
                        <xs:complexType>
                            <xs:attribute name="XX"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="YY"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="ZZ"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="axiality_rhombicity">
                        <xs:complexType>
                            <xs:attribute name="iso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="ax"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="rh"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="span_skew">
                        <xs:complexType>
                            <xs:attribute name="iso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="span"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="skew"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="inter_orientation"
                            type="orientation"
                            minOccurs="1"
                            maxOccurs="1" />
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="kind"
                      use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="hfc" />
                    <xs:enumeration value="shielding" />
                    <xs:enumeration value="quadrupolar" />
                    <xs:enumeration value="scalar" />
                    <xs:enumeration value="dipolar" />
                    <xs:enumeration value="g-tenser" />
                    <xs:enumeration value="zfs" />
                    <xs:enumeration value="exchange" />
                    <xs:enumeration value="custem" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="units"
                      type="xs:string"
                      use="required" />
        <xs:attribute name="spin_1"
                      type="xs:integer"
                      use="required" />
        <xs:attribute name="spin_2"
                      type="xs:integer"
                      use="optional" />
        <xs:attribute name="label"
                      type="xs:string"
                      use="optional" />
    </xs:complexType>
    <xs:complexType name="reference_frame">
        <xs:sequence>
            <xs:group ref="vector" />
            <xs:element name="ref_orientation"
                        type="orientation" />
        </xs:sequence>
        <xs:attribute name="number"
                      type="xs:integer"
                      use="required" />
        <xs:attribute name="label"
                      type="xs:string"
                      use="required" />
    </xs:complexType>
</xs:schema>
